@import url("reset.css");
@font-face {
  font-family: "GongGothicMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Giants";
  src: url("./font/Giants-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body {
  font-size: 62.5%;
}

.mobile_nav {
  display: none;
}

.wrap .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: rgba(6, 24, 48, 0.3843137255);
}
.wrap .header.active {
  background-color: #061830;
}
.wrap .header .nav_background {
  width: 100%;
  height: 30rem;
  background-color: #061830;
  position: absolute;
  left: 0;
  top: 4rem;
  display: none;
}
.wrap .header .inner {
  max-width: 154rem;
  width: calc(100% - 60px);
  margin: 0 auto;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 2;
}
.wrap .header .inner .nav {
  height: 100%;
}
.wrap .header .inner .nav .gnb {
  display: flex;
  justify-content: center;
  height: 100%;
}
.wrap .header .inner .nav .gnb > li {
  padding: 0 5rem;
}
.wrap .header .inner .nav .gnb > li.active {
  color: #DC032E;
}
.wrap .header .inner .nav .gnb .depth_01 {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  line-height: 8rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.wrap .header .inner .nav .gnb .depth_01::after {
  content: "";
  width: 0.1%;
  height: 0.2rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  background-color: #DC032E;
  transition: 0.3s;
}
.wrap .header .inner .nav .gnb .depth_01:hover {
  color: #DC032E;
}
.wrap .header .inner .nav .gnb .depth_01:hover::after {
  width: 100%;
}
.wrap .header .inner .nav .gnb .depth_02 {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  width: 128rem;
  background-color: #061830;
  /* height: 40rem; */
}
.wrap .header .inner .nav .gnb .depth_02 > li {
  width: 24%;
}
.wrap .header .inner .nav .gnb .depth_02.active {
  opacity: 1;
  visibility: visible;
}
.wrap .header .inner .nav .gnb .depth_02 > li {
  border-left: 1px solid rgba(255, 255, 255, 0.1176470588);
  border-bottom: 1px solid rgba(255, 255, 255, 0.0392156863);
}
.wrap .header .inner .nav .gnb .depth_02 > li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1176470588);
}
.wrap .header .inner .nav .gnb .depth_02 .depth_03 {
  width: 100%;
}
.wrap .header .inner .nav .gnb .depth_02 .depth_03 li a {
  display: block;
  padding: 2rem 2rem;
  font-size: 1.8rem;
  font-family: "Pretendard-Regular";
  text-align: center;
}
.wrap .header .inner .nav .gnb .depth_02 .depth_03 .title {
  background-color: #DC032E;
  font-family: "Giants";
  font-size: 1.8rem;
  font-weight: 300;
}
.wrap .header .inner .option {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.wrap .header .inner .option .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(209, 5, 39, 0.5411764706);
  padding: 0.8rem 2.5rem;
  border-radius: 2rem;
}
.wrap .header .inner .option .search_box:hover {
  background-color: rgba(209, 5, 39, 0.9333333333);
}
.wrap .header .inner .option .search_box span {
  font-size: 1.6rem;
  font-family: "Pretendard-Regular";
  font-weight: 500;
}
.wrap .header .inner .option .search_box img {
  width: 2.5rem;
  height: 2.5rem;
}
.wrap .header .inner .option .menu_btn {
  width: 4rem;
  height: 4rem;
  position: relative;
}
.wrap .header .inner .option .menu_btn .top,
.wrap .header .inner .option .menu_btn .bottom {
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}
.wrap .header .inner .option .menu_btn .bottom {
  bottom: 30%;
  top: auto;
}
.wrap .header .top_header {
  width: 100%;
  padding: 0 19rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 1;
  background-color: #061830;
}
.wrap .header .top_header .left_wrap {
  width: 24.6rem;
  height: 100%;
  opacity: 0;
}
.wrap .header .top_header .click_btn {
  height: 100%;
  background-color: #153663;
}
.wrap .header .top_header .click_btn a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 1rem;
}
.wrap .header .top_header .click_btn a p {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Pretendard-Regular";
}
.wrap .header .top_header .click_btn a img {
  width: 2rem;
}
.wrap .header .top_header .right_wrap {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-family: "Pretendard-Regular";
  height: 100%;
}
.wrap .header .top_header .right_wrap .log_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrap .header .top_header .right_wrap .log_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.wrap .header .top_header .right_wrap .log_btn a p {
  font-size: 1.4rem;
}
.wrap .header .top_header .right_wrap .lang_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrap .header .top_header .right_wrap .lang_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}
.wrap .header .top_header .right_wrap .lang_btn a p {
  font-size: 1.4rem;
  color: #061830;
}/*# sourceMappingURL=main.css.map */